---
import CarouselServices from "../../components/CarouselServices";
import CarouselProducts from "../../components/CarouselProducts";
import Layout from "../../layouts/Layout.astro";
import CarouselLanding from "../../components/CarouselLanding";
import Cart from "../../components/CartButton";
import "@fontsource/tenor-sans";

// Funcionamiento de la base de datos de astro
import { db, Service, Product } from "astro:db";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const services = await db.select().from(Service);
const products = await db.select().from(Product);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const carouselTraductions = {
  home: t("nav.home"),
  title: t("carouselprod.title"),
};

console.log("awda", carouselTraductions);
---

<Layout title="Verbena - Estethic center">
  <main>
    <section class="relative">
      <!-- Imagen principal con animación de entrada desde arriba -->
      <img
        src="https://via.placeholder.com/1500x500"
        alt="Main image"
        class="w-full h-96 object-cover animate-fadeInDown"
      />
    </section>

    <section class="py-16">
      <!-- Sección de 'Quiénes Somos' con texto a la izquierda e imagen a la derecha -->
      <div
        class="container mx-auto flex flex-col md:flex-row items-center justify-between"
      >
        <!-- Texto a la izquierda con animación de aparición -->
        <div class="w-full md:w-1/2 md:pr-12 animate-fadeIn">
          <h2 class="text-4xl font-serif font-semibold text-gray-800 mb-6">
            {t("nav.home")}
          </h2>
          <p class="text-gray-600 leading-relaxed mb-6 font-[sans-serif]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            consequatur cupiditate rerum esse aliquid cum repellendus omnis quam
            culpa odio accusamus iusto quis laboriosam odit quas, perspiciatis
            autem necessitatibus maxime! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Sapiente deserunt numquam quibusdam mollitia.
            Asperiores cupiditate voluptates hic quaerat aspernatur aliquam
            nihil autem fuga nostrum, soluta nulla reiciendis aperiam quam sit.
          </p>
          <a
            href="/about"
            class="inline-block bg-gray-300 text-gray-800 px-6 py-3 rounded-lg hover:bg-gray-400 hover:scale-105 transition-transform duration-300"
          >
            Leer más
          </a>
        </div>

        <!-- Imagen a la derecha con animación de entrada desde la derecha -->
        <div class="w-full md:w-1/2 mt-8 md:mt-0 animate-fadeInRight">
          <img
            src="/img/imgface.jpeg"
            alt="About Us"
            class="w-full h-96 object-cover rounded-lg shadow-lg"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="containter mx-auto p-2">
        <h2
          class="text-4xl font-serif font-semibold text-green-verbena pt-6 text-left pl-10"
        >
          Nuestros tratamientos
        </h2>
        <!-- Carrusel con animación de desvanecimiento -->
        <div class="animate-fadeInUp">
          <CarouselServices
            services={services}
            currentLanguage={lang}
            client:load
          />
        </div>
      </div>
    </section>

    <section class="animate-fadeIn">
      <CarouselLanding />
    </section>

    <section>
      <div class="containter mx-auto p-2">
        <h2
          class="text-4xl font-serif font-semibold text-gray-800 pt-6 text-center"
        >
          Nuestros productos
        </h2>
        <!-- Carrusel de productos con animación -->
        <div class="animate-fadeInUp">
          <CarouselProducts
            products={products}
            currentLanguage={lang}
            carouselTraductions={carouselTraductions}
            client:load
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
