---
import CarouselServices from "../../components/CarouselServices";
import CarouselProducts from "../../components/CarouselProducts";
import Layout from "../../layouts/Layout.astro";
import CarouselLanding from "../../components/CarouselLanding";
import Cart from "../../components/CartButton";
import OpinionsClients from "../../components/OpinionsClients";
import LandingAbout from "../../components/LandingAbout";
import "@fontsource/tenor-sans";

// Funcionamiento de la base de datos de astro
import { db, Service, Product } from "astro:db";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const services = await db.select().from(Service);
const products = await db.select().from(Product);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const carouselTraductions = {
  home: t("nav.home"),
  title: t("carouselprod.title"),
};

console.log("awda", carouselTraductions);
---

<Layout title="Verbena - Estethic center">
  <main>
    <section class="relative">
      <!-- Imagen principal con animación de entrada desde arriba -->
      <img
        src="/img/imgLanding.jpeg"
        alt="Main image"
        class="w-full h-80 sm:h-96 lg:h-[500px] object-cover shadow-lg"
        data-aos="fade-down"
      />
      <!-- Overlay para agregar un efecto de oscuridad sutil sobre la imagen -->
      <div class="absolute inset-0 bg-black opacity-20"></div>
    </section>

    <section class="py-16">
      <LandingAbout client:load />

      <!-- Contenedor con animaciones AOS -->
      <!-- <div
        class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-10"
      >
        <div class="w-full md:w-1/2 mt-8 md:mt-0" data-aos="fade-right">
          <img
            src="/img/imgface.jpeg"
            alt="About Us"
            class="w-full h-96 object-cover rounded-lg shadow-lg"
          />
        </div>

        <div class="w-full md:w-1/2 md:pr-12" data-aos="fade-up">
          <h2 class="text-4xl font-serif font-semibold text-gray-800 mb-6">
            {t("nav.home")}
          </h2>
          <p class="text-gray-600 leading-relaxed mb-6 font-[sans-serif]">
            "La piel refleja lo que sientes. En Verbena, te ayudamos a
            iluminarte desde el corazón, proporcionando tratamientos que no solo
            mejoran tu piel, sino que también elevan tu estado de ánimo."
          </p>
          <a
            href="/about"
            class="inline-block bg-gray-300 text-gray-800 px-6 py-3 rounded-lg hover:bg-gray-400 hover:scale-105 transition-transform duration-300"
            data-aos="zoom-in"
          >
            Leer más
          </a>
        </div>
      </div> -->
    </section>

    <section>
      <div class="containter mx-auto p-2">
        <div class="flex flex-col sm:flex-row justify-between p-4">
          <h2
            class="text-[2rem] font-serif font-semibold text-green-verbena pt-6 text-left"
            data-aos="fade-right"
          >
            Nuestros tratamientos
          </h2>
          <button
            class="bg-green-verbena text-white text-sm px-8 py-2 mt-4 sm:mt-0 w-full sm:w-auto rounded-full hover:bg-[#badc80] transition-all ease-in-out duration-300"
            data-aos="zoom-in"
          >
            Ver más
          </button>
        </div>
        <!-- Carrusel con animación de desvanecimiento -->
        <div data-aos="fade-up">
          <CarouselServices
            services={services}
            currentLanguage={lang}
            client:load
          />
        </div>
      </div>
    </section>

    <section>
      <div class="containter mx-auto p-2">
        <div class="flex flex-col sm:flex-row justify-between p-4">
          <h2
            class="text-[2rem] font-serif font-semibold text-green-verbena pt-6 text-left"
            data-aos="fade-right"
          >
            Nuestros productos
          </h2>
          <button
            class="bg-green-verbena text-white text-sm px-8 py-2 mt-4 sm:mt-0 w-full sm:w-auto rounded-full hover:bg-[#badc80] transition-all ease-in-out duration-300"
            data-aos="zoom-in"
          >
            Ver más
          </button>
        </div>

        <!-- Carrusel de productos con animación -->
        <div data-aos="fade-up">
          <CarouselProducts
            products={products}
            currentLanguage={lang}
            carouselTraductions={carouselTraductions}
            client:load
          />
        </div>
      </div>
    </section>

    <section>
      <OpinionsClients client:load />
    </section>
  </main>
</Layout>
